@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap')

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1f1517;
    color: floralwhite;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

html {
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
}

nav {
    max-width: 100%;
    margin: auto;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-family: Teko;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu {
    list-style: none;
    border: 1px solid #363636;
}

.menu li {
    position: relative;
    border-right: 1px solid #363636;
}

.menu li a {
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

.menu li a:hover {
    background: 381b04;
    color: aliceblue;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: aliceblue;
    display:none;
    z-index: 1;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    width: 150px;
}

.menu-toggle, .menu-icon {
    display: none;
}

.github {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

.github > img, .cadastro > img {
    border-radius: 20rem;
    width: 2.5rem;
    padding-left: 10rem;
}

main {
    display: flex;
    flex-direction: column;
}

.principal {
    background-color: #181012;

}

.hero {
    background: #181012;
    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    padding: 0rem 2rem;
    margin: auto;
    overflow: clip;
}

.hero-content {
    display: flex;
    flex-direction: column;
    column-count: auto;
    gap: 1rem;
}

h1 {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 800;
}

hr {
    border-color: #A45A49;
}

.subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.hero-images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.hero-images-container > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.botao-container {
    width: 100%;
    width: 120px;
    margin: auto;
    transform: translate('0, -50%');
}

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
    align-items: center;
}

.receitas-cabecalho {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.receitas-titulo {
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
    color: #FFF2E7;
}

.receitas-subtitulo {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receitas-card-container {
    padding: 0rem 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 50%;
}

.receitas-card {
    display: flex;
    flex-direction: column;
    background: #241A1C;
    padding: 2rem;
    border-radius: 2rem;
    gap: 2rem;
    flex-basis: 29rem;
}

.receitas-card-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.receitas-card-cabecalho-detalhes {
    display: flex;
    gap: 0.5rem;
}

.receita-titulo {
    color: #FFF2E7;
    font-family: Montserrat;
    font-size: 2rem;
    font-weight: 700;
}

.receitas-imagem > img {
    max-width: 100%;
    border-radius: 5rem;
    width: 20rem;
}

.receita-avaliacao {
    color: #756A67;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.receita-descricao {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.receita-autor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.receita-autor > img {
    border-radius: 20rem;
    width: 1.5rem;
}

.receita-autor-nome {
    color: #C7BAB3;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

footer {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background: #23181A;
}

.footer-copy {
    color: #FFF2E7;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

.footer-slogan {
    color: rgba(255, 242, 231, 0.50);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width: 768px) {
    .receita-avaliacao {
        display: none;
    }

    .icon-container {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
    }

    .cadastro {
        position: absolute;
        top: 0;
        right: 0;
    }

    .github{
        position: absolute;
        top: auto;
        right: 2.9rem;
    }

    .logo {
        font-size: 3.3vh
    }
    
    body {
        font-size: 14px;
    }

    .menu-toggle:checked + .menu-icon {
        display:block
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #1f1517;
        width: 100%;
        flex-direction: column;
    }

    .menu li {
        border-bottom: 1px solid #363636;
    }

    .menu-toggle:checked + .menu-icon + .menu {
        display: flex;
    }

    .menu-mobile {
        display: flex;
    }

    nav {
        padding: 1.5rem 1rem;
    }

    .hero {
        flex-direction: column;
        gap: 3rem;
        height: auto;
        padding: 2rem 1rem;
    }

    .hero-images-container {
        column-count: 1;
    }

    .receitas-card-container {
        padding: 0rem 1rem;
        max-width: 100%;
    }

    .receitas-card {
        flex-basis: 100%;
        padding-bottom: 2rem;
    }

    .receitas-imagem > img{
        max-width: 100%;
    }

    .receita-titulo {
        font-size: 4vh;
    }

    .receita-autor-nome {
        font-size: 2vh;
    }

    .footer {
        padding: 2rem;
    }

    h1 {
        font-size: 4vh;
    }
}